{% extends 'base.html' %}

{% block title %}WareTrack{% endblock %}

{% block content %}
<div class="container">
    <br>
    <h3>Gateout Transactions</h3>
    <div class="row mb-3">
        <div class="col-md-12">
            <form method="get" action="" class="input-group">
                <input type="text" class="form-control" name="q" placeholder="Search gateouts" aria-label="Search">
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Transaction ID</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Location</th>
                <th>To</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for gateout in gateouts %}
            <tr>
                <td>{{ gateout.transaction_id }}</td>
                <td>{{ gateout.product.product.name }}</td>
                <td>{{ gateout.quantity }}</td>
                <td>{{ gateout.location }}</td>
                <td>{{ gateout.to }}</td>
                <td>{{ gateout.date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
