{% extends 'base.html' %}

{% block content %}
<div class="container">
    <br>
    <h3>Product List</h3>
        <div class="row mb-3">
            <div class="col-md-12">
                <form method="get" action="" class="input-group">
                    <input type="text" class="form-control" name="q" placeholder="Search products..."
                        aria-label="Search Products">
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Size</th>
                    <th>Colour</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>{{ product.product_id }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.size }}</td>
                    <td>{{ product.colour }}</td>
                    <td>{{ product.detail }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
</div>
{% endblock %}