{% extends 'base.html' %}

{% block title %}WareTrack{% endblock %}

{% block content %}
<div class="container">
    <br>
    <h3>Shipping List</h3>
    <div class="row mb-3">
        <div class="col-md-12">
            <form method="get" action="" class="input-group">
                <input type="text" class="form-control" name="q" placeholder="Search shipments by container number..." aria-label="Search">
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Shipping ID</th>
                <th>Container Number</th>
                <th>Timestamp</th>
                <th>Latitude</th>
                <th>Longitude</th>
            </tr>
        </thead>
        <tbody>
            {% for shipment in shipments %}
            <tr>
                <td>{{ shipment.shipping_id }}</td>
                <td>{{ shipment.container.container_number }}</td>
                <td>{{ shipment.timestamp }}</td>
                <td>{{ shipment.latitude }}</td>
                <td>{{ shipment.longitude }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
